
#distanceapp {
  width: 90%;
  margin: 0 auto 20px;
  background: white;
  padding: 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}
  #distanceapp h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0 30px 0;
    line-height: 1;
  }

#create-distance {
  position: relative;
}
  #archivedTodo input, #create-distance input,  #create-distance a {
    width: 90%;
    font-size: 24px;
    font-family: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    padding: 6px;
    background:#ccc;
    color:black;
    border: 1px solid #999999;
    text-decoration:none;
    text-align:center;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;

  }


    #create-distance input::-webkit-input-placeholder {
      font-style: italic;
    }
  #create-distance span {
    position: absolute;
    z-index: 999;
    width: 170px;
    /*left: 50%;*/
    margin-left: -85px;
  }

#distance-list {
  padding-top: 5px;
}

.distance-text {
    padding-top: 10px;
}

  #distance-list li {
    padding: 12px 20px 11px 0;
    position: relative;
    font-size: 24px;
    line-height: 1.1em;
    border-bottom: 1px solid #cccccc;
  }
    #distance-list li:after {
      content: "\0020";
      display: block;
      height: 0;
      clear: both;
      overflow: hidden;
      visibility: hidden;
    }
    #distance-list li.editing {
      padding: 0;
      border-bottom: 0;
    }
  #distance-list .editing .display,
  #distance-list .edit {
    display: none;
  }
    #distance-list .editing .edit {
      display: block;
    }
    #distance-list .editing input {
      width: 70%;
      font-size: 20px;
      font-family: inherit;
      margin: 0;
      line-height: 1.4em;
      border: 0;
      outline: none;
      padding: 10px 7px 0px 27px;
      border: 1px solid #999999;
      -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
      -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
      box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    }

  #distance-list .done .distance-text {
    text-decoration: line-through;
    color: #777777;
  }
  button {
  height:26px;
  }

  #distance-list .distance-destroy, #distance-list .distance-edit {
    position: absolute;
    right: 80px;
    top: 14px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url(destroy.png) no-repeat 0 0;
  }
    #distance-list li:hover .distance-destroy , #distance-list li:hover .distance-edit{
      display: block;
    }
    #distance-list .distance-destroy:hover, #distance-list .distance-edit:hover {
      background-position: 0 -20px;
    }

#distance-stats {
  *zoom: 1;
  margin-top: 10px;
  color: #777777;
}
  #distance-stats:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }
  #distance-stats .distance-count {
    float: left;
  }
    #distance-stats .distance-count .number {
      font-weight: bold;
      color: #333333;
    }
  #distance-stats .distance-clear {
    float: right;
  }
    #distance-stats .distance-clear a {
      color: #777777;
      font-size: 12px;
    }
      #distance-stats .distance-clear a:visited {
        color: #777777;
      }
      #distance-stats .distance-clear a:hover {
        color: #336699;
      }

#instructions {
  width: 100%;
  margin: 10px auto;
  color: #777777;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  text-align: center;
}
  #instructions a {
    color: #336699;
  }

#credits {
  width: 100$;
  margin: 30px auto;
  color: #999;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  text-align: center;
}
  #credits a {
    color: #888;
  }


